<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static\css\stylesheet.css">
  <title> Schedule </title>
</head>

<style>

</style>
<body id="schedule-body">

<h2 align="center">Schedule</h2>

<table id="schedule-table">
  <tr>
    <th>Assignment</th>
    <th>Submission Deadline</th>
    <th>Date of tutorial</th>
  </tr>
  <tr align="center">
    <td id='td'>Assignment 1</td>
    <td id='td-white'>01.01.2021</td>
    <td id='td-white'>02.01.2021</td>
  </tr>
  <tr align="center">
    <td id='td'>Assignment 2</td>
    <td colspan="2" id='td-white'>01.02.2021</td>
  </tr>
  <tr align="center">
  <td id='td'> Assignment 3 </td>
  <td id='td-white'> 01.03.2021 </td>
  <td id='td-white'> 02.03.2021 </td>
  </tr>
  <tr align="center">
  <td id='td'> Assignment 4 </td>
  <td rowspan="2" id='td-white'> 01.04.2021 </td>
  <td id='td-white'> 02.04.2021 </td>
  </tr>
  <tr align="center">
  <td id='td'> Assignment 5 </td>
  <td id='td-white'>02.05.2021 </td>
  </tr>
</table>

</body>
</html>

